@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars on full-screen canvas */
  overscroll-behavior: none; /* Prevents bounce effects on Mac trackpads */
}
